.breadcrumbs {
    display: flex;
    margin-top: 29px;
    margin-bottom: 15px;

    &__item {
        font-size: 1.4rem;
        letter-spacing: 0.05em;
        color: #96afb1;

        @media (max-width: 999px) {
            font-size: 1.2rem;
        }
    }

    &__item + &__item:before {
        content: '\005C';
        padding: 8px;
        color: #96afb1;
    }
}
