.burger {
    padding: 0;
    margin-right: 30px;

    height: 64px;
    display: flex;
    align-items: center;
    gap: 20px;

    font-size: 1.6rem;
    font-weight: 800;
    color: #182d4d;
    text-transform: uppercase;

    background: none;
    border: 0;
    cursor: pointer;

    &.active {
        .burger__item:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
        }
        .burger__item:nth-child(2) {
            opacity: 0;
        }
        .burger__item:nth-child(3) {
            transform: translateY(-8px) rotate(135deg);
        }
    }

    @media (max-width: $lg) {
        font-size: 1.4rem;
    }

    @media (max-width: $md) {
        margin-right: 0;
    }

    &__icon {
        width: 29px;
        height: 20px;
    }

    &__item {
        display: block;

        width: 100%;
        height: 4px;
        margin-bottom: 4px;

        background-color: #ff4207;
        border-radius: 10px;

        transition: 0.3s linear;

        &:last-child {
            margin-bottom: 0;
        }
    }
}
