.card {
    display: flex;
    flex-direction: column;

    max-width: 365px;
    min-height: 642px;

    @media (max-width: $lg) {
        min-height: 409px;
    }

    &--new {
        min-height: 504px;
        max-width: 223px;

        @media (max-width: $lg) {
            min-height: 318px;
        }

        .card__image-wrapper {
            width: 223px;
            height: 223px;

            margin-bottom: 29px;

            @media (max-width: $lg) {
                width: 140px;
                height: 140px;
            }
        }

        .card__image {
            max-width: 147px;

            @media (max-width: $lg) {
                max-width: 103px;
            }
        }
        .card__title {
            flex: 1 0 0;
            margin-bottom: 8px;

            font-size: 2.2rem;
            line-height: 1.2;

            @media (max-width: $lg) {
                margin-bottom: 4px;

                font-size: 1.4rem;
            }
        }

        .card__rating {
            margin-bottom: 9px;
            gap: 8px;
        }

        .card__stars {
            gap: 1px;
        }

        .card__stars-icon {
            width: 22px;
            height: 22px;

            @media (max-width: $lg) {
                width: 13px;
                height: 13px;
            }
        }

        .card__rating-reviews {
            @media (max-width: $lg) {
                font-size: 1rem;
            }
        }

        .card__price {
            margin-bottom: 17px;

            @media (max-width: $lg) {
                font-size: 1.4rem;
            }
        }

        .card__footer {
            gap: 3px;
        }

        .card__btn-cart,
        .card__btn-like {
            font-size: 1.6rem;
            max-width: 166px;

            @media (max-width: $lg) {
                font-size: 1rem;
                min-height: 28px;
                max-height: 28px;

                svg {
                    width: 17px;
                    height: 17px;
                }
            }
        }
    }

    &--advantages {
        min-height: auto;
        align-items: center;

        .card__image {
        }

        .card__image-wrapper {
            width: 80px;
            height: 80px;

            margin-bottom: 27px;

            display: flex;
            justify-content: center;
            align-items: center;

            background-color: #8960e0;
            border-radius: 50%;

            @media (max-width: $lg) {
                width: 40px;
                height: 40px;

                img {
                    max-width: 20px;
                    max-height: 20px;
                }
            }
        }

        .card__title {
            margin-bottom: 15px;

            font-size: 2rem;
            line-height: 1.2;
            font-weight: 700;
            text-align: center;

            @media (max-width: $lg) {
                margin-bottom: 7px;

                font-size: 1.6rem;
            }
        }

        .card__text {
            max-width: 241px;

            flex: 1 0 0;
            font-size: 1.3rem;
            line-height: 1.4;
            font-weight: 400;
            letter-spacing: 0.06em;
            color: #96afb1;
            text-align: center;

            @media (max-width: $lg) {
                font-size: 1.2rem;
            }
        }
    }

    &__image-wrapper {
        width: 365px;
        height: 366px;
        margin-bottom: 22px;

        display: flex;
        justify-content: center;
        align-items: center;

        background-color: #fff;

        @media (max-width: $lg) {
            width: 209px;
            height: 208px;
            margin-bottom: 16px;
        }
    }

    &__image {
        display: block;
        max-width: 100%;
        height: auto;

        @media (max-width: $lg) {
            max-width: 142px;
        }
    }

    &__title {
        flex: 1 0 0;
        margin-bottom: 10px;

        font-size: 3rem;
        font-weight: 700;
        letter-spacing: 0.05em;
        line-height: 1;

        @media (max-width: $lg) {
            font-size: 2rem;
        }
    }

    &__rating {
        margin-bottom: 10px;
        display: flex;
        gap: 20px;
        align-items: center;
    }

    &__stars {
        display: flex;
        gap: 11px;

        @media (max-width: $lg) {
            gap: 6px;
        }
    }

    &__stars-icon {
        width: 33px;

        @media (max-width: $lg) {
            width: 18px;
        }
    }

    &__rating-reviews {
        font-size: 1.4rem;
        font-weight: 400;
        letter-spacing: 0.05em;
        color: #96afb1;

        @media (max-width: $lg) {
            font-size: 1.2rem;
        }
    }

    &__price {
        margin-bottom: 22px;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__price-new {
        font-size: 2.4rem;
        font-weight: 800;

        @media (max-width: $lg) {
            font-size: 1.6rem;
        }
    }

    &__price-old {
        font-size: 2rem;
        color: #96afb1;
        text-decoration: line-through;

        @media (max-width: $lg) {
            font-size: 1.2rem;
        }
    }

    &__footer {
        display: flex;
        gap: 14px;

        @media (max-width: $lg) {
            gap: 8px;
        }
    }

    &__btn-cart {
        flex-basis: 70%;
        font-size: 1.8rem;

        @media (max-width: $lg) {
            font-size: 1.2rem;
        }
    }

    &__btn-like {
        flex-basis: 30%;
    }
}
