.card {
    display: flex;
    flex-direction: column;

    max-width: 365px;
    min-height: 642px;

    &--new {
        min-height: 504px;
        max-width: 223px;

        .card__image-wrapper {
            width: 223px;
            height: 223px;

            margin-bottom: 29px;
        }

        .card__image {
            max-width: 147px;
        }
        .card__title {
            flex: 1 0 0;
            margin-bottom: 8px;

            font-size: 2.2rem;
            line-height: 1.2;
        }

        .card__rating {
            margin-bottom: 9px;
            gap: 8px;
        }

        .card__stars {
            gap: 1px;
        }

        .card__stars-icon {
            width: 22px;
            height: 22px;
        }

        .card__price {
            margin-bottom: 17px;
        }

        .card__footer {
            gap: 3px;
        }

        .card__btn-cart {
            font-size: 1.6rem;
            max-width: 166px;
        }
    }

    &--advantages {
        min-height: auto;
        align-items: center;

        .card__image {
        }

        .card__image-wrapper {
            width: 80px;
            height: 80px;

            margin-bottom: 27px;

            display: flex;
            justify-content: center;
            align-items: center;

            background-color: #8960e0;
            border-radius: 50%;
        }

        .card__title {
            margin-bottom: 15px;

            font-size: 2rem;
            line-height: 1.2;
            font-weight: 700;
            text-align: center;
        }

        .card__text {
            max-width: 241px;

            flex: 1 0 0;
            font-size: 1.3rem;
            line-height: 1.4;
            font-weight: 400;
            letter-spacing: 0.06em;
            color: #96afb1;
            text-align: center;
        }
    }

    &__image-wrapper {
        width: 365px;
        height: 366px;
        margin-bottom: 22px;

        display: flex;
        justify-content: center;
        align-items: center;

        background-color: #fff;
    }

    &__image {
        display: block;
        max-width: 100%;
        height: auto;
    }

    &__title {
        flex: 1 0 0;
        margin-bottom: 10px;

        font-size: 3rem;
        font-weight: 700;
        letter-spacing: 0.05em;
        line-height: 1;
    }

    &__rating {
        margin-bottom: 10px;
        display: flex;
        gap: 20px;
        align-items: center;
    }

    &__stars {
        display: flex;
        gap: 11px;
    }

    &__stars-icon {
        width: 33px;
    }

    &__rating-reviews {
        font-size: 1.4rem;
        font-weight: 400;
        letter-spacing: 0.05em;
        color: #96afb1;
    }

    &__price {
        margin-bottom: 22px;
        display: flex;
        gap: 10px;
    }

    &__price-new {
        font-size: 2.4rem;
        font-weight: 800;
    }

    &__price-old {
        font-size: 2rem;
        color: #96afb1;
        text-decoration: line-through;
    }

    &__footer {
        display: flex;
        gap: 14px;
    }

    &__btn-cart {
        flex-basis: 70%;
        font-size: 1.8rem;
    }

    &__btn-like {
        flex-basis: 30%;
    }
}
