.card {
    display: flex;
    flex-direction: column;

    max-width: 365px;
    min-height: 642px;

    margin: 0 auto;

    @media (max-width: 999px) {
        max-width: 209px;
        min-height: 409px;
    }
    @media (max-width: 576px) {
        max-width: 140px;
        min-height: 304px;
    }

    &--sale {
        .card__image-label {
            position: absolute;
            top: 0;
            right: 0;

            width: 84px;
            height: 42px;

            font-size: 2.4rem;
            color: #fff;

            background-color: #8960e0;

            @media (max-width: 999px) {
                width: 48px;
                height: 24px;

                font-size: 1.4rem;
            }

            @media (max-width: 576px) {
                width: 44px;
                height: 22px;

                font-size: 1.2rem;
            }
        }

        .card__btn-like {
            svg {
                @media (max-width: 999px) {
                    max-width: 18px;
                    max-height: 18px;
                }
            }
        }
    }

    &--new {
        min-height: 504px;
        max-width: 223px;

        @media (max-width: 999px) {
            max-width: 140px;
            min-height: 318px;
        }

        .card__image-wrapper {
            width: 223px;
            height: 223px;

            margin-bottom: 29px;

            @media (max-width: 999px) {
                max-width: 140px;
                height: 140px;
            }
        }

        .card__image-label {
            left: 0;
            bottom: 0;

            width: 55px;
            height: 26px;

            font-size: 1.6rem;
            color: #000;

            background-color: #dbff00;

            @media (max-width: 999px) {
                width: 41px;
                height: 18px;

                font-size: 1.2rem;
            }
        }

        .card__image {
            max-width: 147px;

            @media (max-width: 999px) {
                max-width: 103px;
            }
        }
        .card__title {
            flex: 1 0 0;
            margin-bottom: 8px;

            font-size: 2.2rem;
            line-height: 1.2;

            @media (max-width: 999px) {
                margin-bottom: 4px;

                font-size: 1.4rem;
            }
        }

        .card__price {
            margin-bottom: 17px;

            @media (max-width: 999px) {
                font-size: 1.4rem;
            }
        }

        .card__footer {
            gap: 3px;
        }

        .card__btn-cart,
        .card__btn-like {
            height: 48px;
            font-size: 1.6rem;
            max-width: 166px;

            @media (max-width: 999px) {
                font-size: 1rem;
                height: 28px;

                svg {
                    width: 17px;
                    height: 17px;
                }
            }
        }
    }

    &--advantages {
        min-height: auto;
        align-items: center;

        .card__image {
        }

        .card__image-wrapper {
            width: 80px;
            height: 80px;

            margin-bottom: 27px;

            display: flex;
            justify-content: center;
            align-items: center;

            background-color: #8960e0;
            border-radius: 50%;

            @media (max-width: $lg) {
                width: 40px;
                height: 40px;

                margin-bottom: 5px;

                img {
                    max-width: 20px;
                    max-height: 20px;
                }
            }
        }

        .card__title {
            margin-bottom: 15px;

            font-size: 2rem;
            line-height: 1.2;
            font-weight: 700;
            text-align: center;

            @media (max-width: $lg) {
                margin-bottom: 7px;

                font-size: 1.6rem;
            }
        }

        .card__text {
            max-width: 241px;

            flex: 1 0 0;
            font-size: 1.3rem;
            line-height: 1.4;
            font-weight: 400;
            letter-spacing: 0.06em;
            color: #96afb1;
            text-align: center;

            @media (max-width: $lg) {
                font-size: 1.2rem;
            }
        }
    }

    &--recommendations {
        min-height: auto;
        max-width: 200px;
        .card__image-wrapper {
            position: relative;

            max-width: 200px;
            height: 199px;

            margin-bottom: 12px;
        }

        .card__image-label {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 1;

            width: 46px;
            height: 46px;

            display: flex;
            align-items: center;
            justify-content: center;

            background-color: #dbff00;
        }

        .card__title {
            margin-bottom: 8px;

            font-size: 1.8rem;
            line-height: 1.2;
        }

        .card__price {
            font-size: 1.8rem;
            font-weight: 800;
        }
    }

    &__image-wrapper {
        position: relative;

        max-width: 365px;
        height: 366px;
        margin-bottom: 22px;

        display: flex;
        justify-content: center;
        align-items: center;

        background-color: #fff;

        @media (max-width: 999px) {
            max-width: 209px;
            height: 208px;
            margin-bottom: 16px;
        }
        @media (max-width: 576px) {
            max-width: 140px;
            height: 140px;
            margin-bottom: 5px;
        }
    }

    &__image-label {
        position: absolute;

        display: flex;
        justify-content: center;
        align-items: center;

        font-weight: 800;
        line-height: 1.2;
        letter-spacing: 0.05em;
        text-transform: uppercase;
    }

    &__image {
        display: block;
        max-width: 100%;
        height: auto;

        @media (max-width: 999px) {
            max-width: 142px;
        }
        @media (max-width: 576px) {
            max-width: 103px;
        }
    }

    &__title {
        flex: 1 0 0;
        margin-bottom: 10px;

        font-size: 3rem;
        font-weight: 700;
        letter-spacing: 0.05em;
        line-height: 1;

        @media (max-width: 999px) {
            font-size: 2rem;
        }
        @media (max-width: 576px) {
            font-size: 1.4rem;
            margin-bottom: 4px;
        }
    }

    &__price {
        margin-bottom: 22px;
        display: flex;
        align-items: center;
        gap: 10px;

        @media (max-width: 576px) {
            gap: 6px;
            margin-bottom: 8px;
        }
    }

    &__price-new {
        font-size: 2.4rem;
        font-weight: 800;

        @media (max-width: 999px) {
            font-size: 1.6rem;
        }
        @media (max-width: 999px) {
            font-size: 1.4rem;
        }
    }

    &__price-old {
        font-size: 2rem;
        color: #96afb1;
        text-decoration: line-through;

        @media (max-width: 999px) {
            font-size: 1.2rem;
        }
    }

    &__footer {
        display: flex;
        gap: 14px;

        @media (max-width: 999px) {
            gap: 8px;
        }
    }

    &__btn-cart {
        flex-basis: 70%;
        font-size: 1.8rem;

        @media (max-width: 999px) {
            font-size: 1.2rem;
        }

        @media (max-width: 576px) {
            font-size: 1rem;
        }
    }

    &__btn-like {
        flex-basis: 30%;
    }
}
