.contacts {
    font-style: normal;
    display: flex;
    gap: 14px;

    &--header {
        @media (max-width: $md) {
            display: none;
        }

        .contacts__address {
            @media (max-width: 1200px) {
                display: none;
            }
        }
    }

    &--footer {
        color: #fff;
        height: fit-content;

        .contacts__item {
            height: fit-content;
        }
    }

    &__data {
        display: flex;
        flex-direction: column;
        gap: 6px;
    }

    &__address {
        max-width: 238px;
        display: flex;
        flex-wrap: wrap;
        gap: 11px 9px;
    }

    &__item {
        display: flex;
        align-items: center;

        @media (max-width: $lg) {
            font-size: 1.4rem;
        }
    }
    &__icon {
        max-width: 19px;
        max-height: 13px;
        margin-right: 6px;
    }
}
