.form {
    &--search {
        .form__input {
            padding: 16px 42px 16px 25px;

            width: 416px;

            font-family: $family;
            font-size: 1.4rem;
            color: $colors-font-main;
            letter-spacing: 5%;

            border: 2px solid #cce1e3;
            border-radius: 45px;
            background-image: url('../img/icons/search.svg');
            background-repeat: no-repeat;
            background-position: right 18px top 50%;

            &::placeholder {
                font-family: $family;
                font-size: 1.4rem;
                color: $colors-font-main;
            }
        }
    }

    &--subscribe {
        display: flex;
        width: fit-content;
        position: relative;

        .form__input {
            display: flex;
            align-items: center;
            width: 731px;
            height: 67px;
            padding: 4px 293px 4px 32px;

            background-color: #fff;
            border-radius: 6px;
            border: 0;
        }

        .form__btn {
            position: absolute;
            right: 4px;
            top: 4px;

            width: 279px;
            height: 59px;

            font-weight: 800;
            font-size: 2rem;
            color: #000;

            border-radius: 4px;
        }
    }
}
