.form {
    &--search {
        .form__input {
            padding: 16px 42px 16px 25px;

            width: 416px;

            font-family: $family;
            font-size: 1.4rem;
            color: $colors-font-main;
            letter-spacing: 5%;

            border: 2px solid #cce1e3;
            border-radius: 45px;
            background-image: url('../img/icons/search.svg');
            background-repeat: no-repeat;
            background-position: right 18px top 50%;

            &::placeholder {
                font-family: $family;
                font-size: 1.4rem;
                color: $colors-font-main;
            }
        }
    }
}
