.header {
    padding-bottom: 3px;

    background-color: #fff;
    box-shadow: 0px 0px 1px rgba(49, 70, 124, 0.25),
        0px 0px 10px rgba(165, 172, 199, 0.4);

    @media (max-width: 576px) {
        display: none;
    }

    &--mobile {
        display: none;
        justify-content: space-between;
        align-items: center;
        gap: 15px;

        padding: 20px;

        background-color: #fff;

        box-shadow: 0px 0px 1px rgba(49, 70, 124, 0.25),
            0px 0px 10px rgba(165, 172, 199, 0.4);

        @media (max-width: 576px) {
            display: flex;
        }

        .form__input {
            max-width: 130px;
            height: 34px;
        }

        .header__logo {
            img {
                max-width: 96px;
                height: 31px;
            }
        }
    }

    &__top {
        background-color: $colors-font-main;
    }

    &__top-inner {
        min-height: 25px;

        display: flex;
        align-items: center;

        font-size: 1.2rem;
        color: #cce1e3;

        @media (max-width: $lg) {
            padding: 0 15px;
        }
    }

    &__main {
        @media (max-width: $lg) {
            padding: 0 15px;
        }
    }

    &__main-top {
        margin-top: 29px;
        margin-bottom: 6px;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__main-bottom {
        position: relative;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        img {
            @media (max-width: 999px) {
                max-width: 120px;
                height: 39px;
            }
        }
    }
}
