.section {
    &--sale {
        margin-bottom: 40px;

        .section__content {
            position: relative;
        }
    }

    &--new {
        margin-bottom: 40px;

        .section__content {
            position: relative;
        }
    }

    &--advantages {
        background-color: #f6feff;

        .section__inner {
            padding-top: 60px;
            padding-bottom: 68px;

            @media (max-width: $lg) {
                padding: 35px 0 40px;
            }
            @media (max-width: 576px) {
                padding: 27px 0 35px;
            }
        }

        .section__content {
            display: grid;
            grid-template-columns: repeat(4, 1fr);

            @media (max-width: 700px) {
                // grid-template-columns: 1fr;
                // gap: 10px;
                // place-items: center;
                display: none;
            }
        }
    }

    &--brands {
        background-color: #fff;

        .section__inner {
            padding-top: 60px;
            padding-bottom: 66px;

            @media (max-width: $lg) {
                padding: 30px 0 48px;
            }
            @media (max-width: 576px) {
                padding: 17px 0;
            }
        }

        .section__content {
            @media (max-width: $lg) {
                overflow: hidden;
            }
        }
    }

    &--about {
        background-color: #fff;

        .section__inner {
            padding-top: 40px;
            padding-bottom: 73px;

            display: flex;

            @media (max-width: 576px) {
                position: relative;
                padding: 60px 0 30px;

                flex-direction: column;
                align-items: center;
            }
        }
        .section__content {
            padding-top: 18px;
        }
        .section__title {
            margin-bottom: 20px;
            text-align: left;

            @media (max-width: 576px) {
                position: absolute;
                top: 30px;
                left: 50%;
                transform: translate(-50%);
            }
        }

        .section__text {
            margin-bottom: 20px;

            font-size: 1.8rem;
            line-height: 1.7;
            letter-spacing: 0.08em;

            @media (max-width: $lg) {
                font-size: 1.4rem;
            }
        }

        .section__link {
            color: #0c459a;
            text-decoration: underline;
        }

        .section__image {
            @media (max-width: $lg) {
                max-width: 307px;
            }
            @media (max-width: 576px) {
                max-width: 244px;
            }
        }
    }

    &--other-goods {
        margin-bottom: 60px;

        @media (max-width: 999px) {
            margin-bottom: 40px;
        }

        .section__content {
            position: relative;
        }

        .section__title {
            @media (max-width: 999px) {
                font-size: 2.4rem;
            }
            @media (max-width: 999px) {
                font-size: 2.1rem;
            }
        }
    }
    &--manufacturer-goods {
        margin-bottom: 96px;

        @media (max-width: 999px) {
            margin-bottom: 77px;
        }

        .section__content {
            position: relative;
        }

        .section__title {
            @media (max-width: 999px) {
                font-size: 2.4rem;
            }
            @media (max-width: 999px) {
                font-size: 2.1rem;
            }
        }
    }

    &--sm {
        .section__title {
            margin-bottom: 17px;

            font-size: 2.8rem;
            text-align: left;

            @media (max-width: 999px) {
                font-size: 2.4rem;
            }
        }
    }

    &--categories {
        margin-bottom: 44px;

        .section__content {
            display: flex;
            gap: 10px;

            overflow: auto;
        }

        .section__inner {
            position: relative;
        }

        .decor {
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: 1;

            display: none;
            width: 52px;
            height: 100%;

            background: linear-gradient(
                270deg,
                #e9f3f4 0%,
                rgba(233, 243, 244, 0) 100%
            );

            @media (max-width: $md) {
                display: block;
            }
        }
    }

    &--recommendations {
        margin-bottom: 41px;

        .section__content {
            position: relative;
        }

        .container--sm {
            padding: 0;
        }

        .cards--mobile {
            display: none;
            @media (max-width: 576px) {
                display: block;
            }
        }
    }

    &--catalog {
        margin-bottom: 57px;
        .section__header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .section__content {
            display: flex;
            align-items: flex-start;
            gap: 40px;
        }

        .section__controls {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 20px;
        }

        @media (max-width: 768px) {
            .section__header {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 16px;

                margin-bottom: 20px;
            }

            .section__title {
                margin-bottom: 0;
            }
        }
    }

    &--manufacturers {
        .section__title {
            text-align: left;
            margin-bottom: 30px;
        }
        .card__list {
            margin-bottom: 40px;

            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: 20px 18px;

            @media (max-width: 1200px) {
                grid-template-columns: repeat(4, 1fr);
            }
            @media (max-width: 999px) {
                grid-template-columns: repeat(3, 1fr);
            }
            @media (max-width: 768px) {
                grid-template-columns: repeat(2, 1fr);

                margin-bottom: 20px;
            }
        }

        .show-more {
            margin-bottom: 85px;

            @media (max-width: 576px) {
                margin-bottom: 40px;
            }
        }
    }

    &--reviews {
        margin-bottom: 43px;

        .section__title {
            text-align: left;
        }

        .section__content {
            display: flex;
            gap: 49px;

            @media (max-width: 768px) {
                flex-direction: column;
            }
        }

        .review {
            flex-basis: 62%;
            width: 100%;
            max-width: 772px;
        }

        .review__list {
            margin-bottom: 30px;
        }

        .review__answer {
            padding-left: 130px;

            @media (max-width: 999px) {
                padding-left: 72px;
            }
            @media (max-width: 768px) {
                padding-left: 30px;
            }
        }

        .review__btn {
            background-color: #f6feff;

            @media (max-width: 999px) {
                max-width: 228px;
                height: 43px;

                font-size: 1.4rem;
            }
            @media (max-width: 768px) {
                width: 100%;
                max-width: 100%;
                height: 48px;

                font-size: 1.6rem;
            }
        }
    }

    &__title {
        margin-bottom: 56px;

        font-size: 4.8rem;
        font-weight: 700;
        line-height: 1;
        letter-spacing: 0.05rem;
        color: #182d4d;

        text-align: center;

        @media (max-width: $lg) {
            margin-bottom: 32px;

            font-size: 3.6rem;
        }
        @media (max-width: 576px) {
            margin-bottom: 19px;

            font-size: 2.6rem;
        }
    }
}
