.section {
    &--sale {
        margin-bottom: 40px;

        .section__content {
            position: relative;
        }
    }

    &--new {
        margin-bottom: 40px;

        .section__content {
            position: relative;
        }
    }

    &--advantages {
        background-color: #f6feff;

        .section__inner {
            padding-top: 60px;
            padding-bottom: 25px;
        }

        .section__content {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
        }
    }

    &__title {
        margin-bottom: 56px;

        font-size: 4.8rem;
        font-weight: 700;
        line-height: 1;
        letter-spacing: 0.05rem;
        color: #182d4d;

        text-align: center;
    }
}
