.socials {
    display: flex;
    gap: 8px;

    &--footer {
        .socials__link {
            border-color: #dbff00;

            &:hover {
                background-color: #dbff00;
                .socials__icon path {
                    fill: #000;
                }
            }
        }
    }

    &__item {
    }

    &__link {
        width: 31px;
        height: 31px;

        display: flex;
        align-items: center;
        justify-content: center;

        border: 2px solid $colors-font-main;
        border-radius: 50%;

        transition: 0.3s linear;

        &:hover {
            background-color: $colors-font-main;
            .socials__icon path {
                fill: #fff;
            }
        }

        @media (max-width: $lg) {
            width: 20px;
            height: 20px;

            svg {
                width: 10px;
                height: 10px;
            }
        }
    }

    &__icon path {
        transition: 0.3s linear;
    }
}
