.socials {
    display: flex;
    gap: 8px;

    &--header {
        @media (max-width: $md) {
            display: none;
        }
    }

    &--footer {
        .socials__link {
            border-color: #dbff00;

            &:hover {
                background-color: #dbff00;
                .socials__icon path {
                    fill: #000;
                }
            }

            @media (max-width: 999px) {
                width: 26px;
                height: 26px;
            }
        }

        .socials__icon {
            @media (max-width: 999px) {
                max-width: 16px;
                height: 12px;
            }
        }
    }

    &--product {
        .socials__link {
            background-color: #96afb1;
            border-color: #96afb1;
        }

        .socials__icon path {
            fill: #e9f3f4;
        }
    }

    &__item {
    }

    &__link {
        width: 31px;
        height: 31px;

        display: flex;
        align-items: center;
        justify-content: center;

        border: 2px solid $colors-font-main;
        border-radius: 50%;

        transition: 0.3s linear;

        &:hover {
            background-color: $colors-font-main;
            .socials__icon path {
                fill: #fff;
            }
        }

        @media (max-width: 999px) {
            width: 20px;
            height: 20px;

            svg {
                width: 10px;
                height: 10px;
            }
        }
    }

    &__icon path {
        transition: 0.3s linear;
    }
}
