.swiper {
    &--banner {
        .swiper-slide {
            display: flex;

            @media (max-width: 576px) {
                flex-direction: column;
                gap: 16px;
                height: 350px;
            }
        }
    }

    &--sale {
        margin-bottom: 30px;

        .swiper-button-prev,
        .swiper-button-next {
            top: 180px;
        }
    }

    &--new {
        margin-bottom: 30px;
    }

    &--advantages {
        display: none;
        @media (max-width: 700px) {
            display: block;
        }

        .swiper-wrapper {
            box-shadow: 100px 0px 90px -13px rgba(255, 255, 255, 0.2) inset,
                -100px 0px 90px -13px rgba(255, 255, 255, 0.2) inset;
        }
    }

    &--recommendations {
        @media (max-width: 576px) {
            display: none;
        }
    }

    &--product-gallery {
        padding: 0 116px;

        img {
            width: 80px;
            height: 80px;
        }
    }
}
// wrapper for product gallery slider
.swiper__wrapper {
    position: relative;

    margin-top: 20px;
}

// .swiper-slide {
//     display: flex;
//     justify-content: center;
// }

.swiper-button-prev,
.swiper-button-next {
    position: absolute;
    top: 180px;
    z-index: 1;

    width: 42px;
    height: 42px;

    border-radius: 50%;

    @media (max-width: 999px) {
        width: 24px;
        height: 24px;
        top: 115px;
    }
    @media (max-width: 576px) {
        width: 24px;
        height: 24px;
        top: 81px;
    }

    &::after {
        display: none;
    }
}

.swiper-button-next {
    box-shadow: -2px -2px 8px rgba(255, 66, 7, 0.2),
        2px 2px 8px rgba(255, 66, 7, 0.3);
}

.swiper-button-prev--product-gallery,
.swiper-button-next--product-gallery {
    position: absolute;
    top: 0;
    z-index: 1;

    width: 80px;
    height: 80px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #f6feff;
    border-radius: 6px;

    transition: 0.3s linear;

    &:hover {
        background-color: #96afb1;
    }

    svg {
        width: 16px;
        height: 30px;
    }
}
.swiper-button-prev--product-gallery {
    left: 0;

    svg {
        transform: rotate(180deg);
    }
}
.swiper-button-next--product-gallery {
    right: 0;
}

.swiper-button-prev--recommendations,
.swiper-button-next--recommendations {
    top: 100px;

    @media (max-width: 999px) {
        top: 58px;
    }
    @media (max-width: 576px) {
        display: none;
    }
}

.swiper-button-prev--new,
.swiper-button-next--new,
.swiper-button-prev--other-goods,
.swiper-button-next--other-goods,
.swiper-button-prev--manufacturer-goods,
.swiper-button-next--manufacturer-goods {
    top: 115px;

    @media (max-width: 999px) {
        top: 81px;
    }
}

.swiper-button-prev {
    left: -21px;

    background-color: #182d4d;

    @media (max-width: 999px) {
        left: -12px;
    }

    .icon {
        transform: rotate(180deg);
    }
}

.swiper-button-next {
    right: -21px;

    background-color: #ff4207;

    @media (max-width: 999px) {
        right: -12px;
    }
}

// pagination
.banner .swiper-pagination {
    position: absolute;
    bottom: 0;
    transform: translateY(50%);
    left: 417px;

    width: fit-content;
    padding: 4px;

    display: flex;
    gap: 3px;

    background-color: #000;
    border-radius: 31px;

    @media (max-width: 999px) {
        left: 233px;
        width: 55px;
        height: 16px;

        padding: 2px;

        gap: 2px;
    }

    @media (max-width: $md) {
        left: 50%;
        transform: translate(-50%);
    }

    @media (max-width: 576px) {
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.banner .swiper-pagination-bullet {
    width: 17px;
    height: 17px;
    margin: 0 !important;

    border: 2px solid #53545c;

    transition: 0.3s linear;
    opacity: 1;

    @media (max-width: 999px) {
        width: 11px;
        height: 11px;
    }
}

.banner .swiper-pagination-bullet-active {
    background-color: #ff4207;
    border-color: #ff4207;
}
