// normalize css
@import 'vendor/normalize.scss';

// vars
@import 'vars.scss';

// fonts
@import 'fonts.scss';

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: $family;
    font-size: 1.6rem;
    color: $colors-font-main;

    background-color: #e9f3f4;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.hightlight-yellow {
    color: #dbff00;
}
.hightlight-orange {
    color: #ff4207;
}

// components
@import 'components/header.scss';
@import 'components/footer.scss';
@import 'components/container.scss';
@import 'components/nav.scss';
@import 'components/socials.scss';
@import 'components/form.scss';
@import 'components/contacts.scss';
@import 'components/burger.scss';
@import 'components/btn.scss';
@import 'components/user-controls.scss';
@import 'components/banner.scss';
@import 'components/section.scss';
@import 'components/card.scss';
@import 'components/swiper.scss';
@import 'components/dropdown.scss';
